.login-form {
    max-width: 300px;
    margin: auto;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

  .google-pict{
    background-image: url('./../../../../assets/img/btn_google_light_normal_ios.svg');
  }